/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
button {
  padding: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  padding: 0;
  margin: 0;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$orange-main: #CD6326;
$font-light: #F7F7F7;
$font-dark: #333333;
$font-gray: #666666;
$orange-dark:#8F5613;
$orange-light: #E39128;

$font-main: 'Open Sans';
$font-logo: 'Roboto';
body {
  background-color: #02160b;
}
.main-wrapper {
  max-width: 1440px/16px*1rem;
  height: 779px;
  margin: 0 auto;
  
}
.context {
  
  background-image: url('../assets/fon-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  
}
.container {
  max-width: 1200px/16px*1rem;
  margin: 0 auto;
}
a:hover {
  text-decoration: underline;
}

@import 'header';
@import 'survival';
@import 'latest-article';
@import 'footer';